[Unit]
Description=Commit any pending Proxmox Backup Server network changes
DefaultDependencies=no
After=local-fs.target pvenetcommit.service
Before=sysinit.target

[Service]
Environment="FN=/etc/network/interfaces"
ExecStart=sh -c 'if [ -f ${FN}.new ]; then mv ${FN}.new ${FN}; fi'
Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy=sysinit.target
