Source: rust-proxmox-backup
Section: admin
Priority: optional
Build-Depends: bash-completion,
               cargo:native (>= 0.65.0~),
               debhelper (>= 12~),
               debhelper-compat (= 13),
               dh-cargo (>= 24),
               fonts-dejavu-core <!nodoc>,
               fonts-lato <!nodoc>,
               fonts-open-sans <!nodoc>,
               graphviz <!nodoc>,
               jq,
               latexmk <!nodoc>,
               libacl1-dev,
               libfuse3-dev,
               librust-anyhow-1+default-dev,
               librust-async-trait-0.1+default-dev (>= 0.1.56-~~),
               librust-bitflags-2+default-dev (>= 2.4-~~),
               librust-bytes-1+default-dev,
               librust-cidr-0.3+default-dev,
               librust-const-format-0.2+default-dev,
               librust-crc32fast-1+default-dev,
               librust-crossbeam-channel-0.5+default-dev,
               librust-endian-trait-0.6+arrays-dev,
               librust-endian-trait-0.6+default-dev,
               librust-env-logger-0.11+default-dev,
               librust-foreign-types-0.3+default-dev,
               librust-futures-0.3+default-dev,
               librust-h2-0.4+default-dev,
               librust-h2-0.4+stream-dev,
               librust-hex-0.4+default-dev (>= 0.4.3-~~),
               librust-hex-0.4+serde-dev (>= 0.4.3-~~),
               librust-hickory-resolver-0.24+system-config-dev (>= 0.24.1-~~),
               librust-hickory-resolver-0.24+tokio-runtime-dev (>= 0.24.1-~~),
               librust-http-body-util-0.1+default-dev,
               librust-hyper-1+default-dev,
               librust-hyper-1+full-dev,
               librust-hyper-util-0.1+client-dev,
               librust-hyper-util-0.1+client-legacy-dev,
               librust-hyper-util-0.1+default-dev,
               librust-hyper-util-0.1+http1-dev,
               librust-hyper-util-0.1+http2-dev,
               librust-hyper-util-0.1+server-auto-dev,
               librust-hyper-util-0.1+server-dev,
               librust-hyper-util-0.1+server-graceful-dev,
               librust-hyper-util-0.1+service-dev,
               librust-hyper-util-0.1+tokio-dev,
               librust-libc-0.2+default-dev,
               librust-log-0.4+default-dev (>= 0.4.17-~~),
               librust-nix-0.29+default-dev,
               librust-nix-0.29+feature-dev,
               librust-nix-0.29+mount-dev,
               librust-nix-0.29+reboot-dev,
               librust-nom-7+default-dev,
               librust-num-traits-0.2+default-dev,
               librust-once-cell-1+default-dev (>= 1.3.1-~~),
               librust-openssl-0.10+default-dev (>= 0.10.40-~~),
               librust-pathpatterns-1+default-dev,
               librust-pbs-api-types-1+default-dev (>= 1.0.3-~~),
               librust-percent-encoding-2+default-dev (>= 2.1-~~),
               librust-pin-project-lite-0.2+default-dev,
               librust-proxmox-acme-1+default-dev,
               librust-proxmox-apt-0.99+cache-dev,
               librust-proxmox-apt-0.99+default-dev,
               librust-proxmox-apt-api-types-2+default-dev,
               librust-proxmox-async-0.5+default-dev,
               librust-proxmox-auth-api-1+api-dev (>= 1.0.3-~~),
               librust-proxmox-auth-api-1+default-dev (>= 1.0.3-~~),
               librust-proxmox-auth-api-1+pam-authenticator-dev (>= 1.0.3-~~),
               librust-proxmox-base64-1+default-dev,
               librust-proxmox-borrow-1+default-dev,
               librust-proxmox-compression-1+default-dev,
               librust-proxmox-config-digest-1+default-dev,
               librust-proxmox-daemon-1+default-dev,
               librust-proxmox-fuse-1+default-dev,
               librust-proxmox-http-1+body-dev (>= 1.0.2-~~),
               librust-proxmox-http-1+client-dev (>= 1.0.2-~~),
               librust-proxmox-http-1+client-trait-dev (>= 1.0.2-~~),
               librust-proxmox-http-1+default-dev (>= 1.0.2-~~),
               librust-proxmox-http-1+http-helpers-dev (>= 1.0.2-~~),
               librust-proxmox-http-1+proxmox-async-dev (>= 1.0.2-~~),
               librust-proxmox-http-1+rate-limited-stream-dev (>= 1.0.2-~~),
               librust-proxmox-http-1+rate-limiter-dev (>= 1.0.2-~~),
               librust-proxmox-http-1+websocket-dev (>= 1.0.2-~~),
               librust-proxmox-human-byte-1+default-dev,
               librust-proxmox-io-1+default-dev (>= 1.0.1-~~),
               librust-proxmox-io-1+tokio-dev (>= 1.0.1-~~),
               librust-proxmox-lang-1+default-dev (>= 1.1-~~),
               librust-proxmox-ldap-1+default-dev,
               librust-proxmox-log-1+default-dev,
               librust-proxmox-metrics-1+default-dev,
               librust-proxmox-network-api-1+default-dev,
               librust-proxmox-network-api-1+impl-dev,
               librust-proxmox-notify-1+default-dev,
               librust-proxmox-notify-1+pbs-context-dev,
               librust-proxmox-openid-1+default-dev,
               librust-proxmox-product-config-1+default-dev,
               librust-proxmox-rest-server-1+default-dev (>= 1.0.1-~~),
               librust-proxmox-rest-server-1+rate-limited-stream-dev (>= 1.0.1-~~),
               librust-proxmox-rest-server-1+templates-dev (>= 1.0.1-~~),
               librust-proxmox-router-3+cli-dev (>= 3.2.2-~~),
               librust-proxmox-router-3+server-dev (>= 3.2.2-~~),
               librust-proxmox-rrd-1+default-dev,
               librust-proxmox-rrd-api-types-1+default-dev (>= 1.0.2-~~),
               librust-proxmox-s3-client-1+default-dev (>= 1.0.6-~~),
               librust-proxmox-s3-client-1+impl-dev (>= 1.0.6-~~),
               librust-proxmox-schema-4+api-macro-dev,
               librust-proxmox-schema-4+default-dev,
               librust-proxmox-section-config-3+default-dev,
               librust-proxmox-serde-1+default-dev,
               librust-proxmox-serde-1+serde-json-dev,
               librust-proxmox-shared-cache-1+default-dev,
               librust-proxmox-shared-memory-1+default-dev,
               librust-proxmox-sortable-macro-1+default-dev,
               librust-proxmox-subscription-1+api-types-dev,
               librust-proxmox-subscription-1+default-dev,
               librust-proxmox-sys-1+acl-dev,
               librust-proxmox-sys-1+crypt-dev,
               librust-proxmox-sys-1+default-dev,
               librust-proxmox-sys-1+logrotate-dev,
               librust-proxmox-sys-1+timer-dev,
               librust-proxmox-systemd-1+default-dev,
               librust-proxmox-tfa-6+api-dev,
               librust-proxmox-tfa-6+api-types-dev,
               librust-proxmox-tfa-6+default-dev (>= 6.0.2~~),
               librust-proxmox-time-2+default-dev,
               librust-proxmox-uuid-1+default-dev,
               librust-proxmox-uuid-1+serde-dev,
               librust-proxmox-worker-task-1+default-dev,
               librust-pxar-1+default-dev,
               librust-regex-1+default-dev (>= 1.5.5-~~),
               librust-rustyline-14+default-dev,
               librust-serde-1+default-dev,
               librust-serde-1+derive-dev,
               librust-serde-json-1+default-dev,
               librust-syslog-6+default-dev,
               librust-tar-0.4+default-dev,
               librust-termcolor-1+default-dev (>= 1.1.2-~~),
               librust-thiserror-2+default-dev,
               librust-tokio-1+default-dev (>= 1.6-~~),
               librust-tokio-1+fs-dev (>= 1.6-~~),
               librust-tokio-1+io-std-dev (>= 1.6-~~),
               librust-tokio-1+io-util-dev (>= 1.6-~~),
               librust-tokio-1+macros-dev (>= 1.6-~~),
               librust-tokio-1+net-dev (>= 1.6-~~),
               librust-tokio-1+parking-lot-dev (>= 1.6-~~),
               librust-tokio-1+process-dev (>= 1.6-~~),
               librust-tokio-1+rt-dev (>= 1.6-~~),
               librust-tokio-1+rt-multi-thread-dev (>= 1.6-~~),
               librust-tokio-1+signal-dev (>= 1.6-~~),
               librust-tokio-1+sync-dev (>= 1.6-~~),
               librust-tokio-1+time-dev (>= 1.6-~~),
               librust-tokio-openssl-0.6+default-dev (>= 0.6.1-~~),
               librust-tokio-stream-0.1+default-dev,
               librust-tokio-util-0.7+codec-dev,
               librust-tokio-util-0.7+default-dev,
               librust-tokio-util-0.7+io-dev,
               librust-tower-service-0.3+default-dev,
               librust-tracing-0.1+default-dev,
               librust-udev-0.9+default-dev,
               librust-url-2+default-dev (>= 2.1-~~),
               librust-walkdir-2+default-dev,
               librust-xdg-2+default-dev (>= 2.2-~~),
               librust-zstd-0.13+default-dev,
               librust-zstd-safe-7+default-dev,
               libsgutils2-dev,
               libstd-rust-dev,
               libsystemd-dev (>= 246-~~),
               patchelf,
               proxmox-widget-toolkit-dev <!nodoc>,
               proxmox-biome,
               python3-docutils,
               python3-pygments,
               python3-sphinx <!nodoc>,
               rsync,
               rustc:native,
               texlive-fonts-extra <!nodoc>,
               texlive-fonts-recommended <!nodoc>,
               texlive-xetex <!nodoc>,
               uuid-dev,
               xindy <!nodoc>,
Maintainer: Proxmox Support Team <support@proxmox.com>
Standards-Version: 4.5.1
Vcs-Git: git://git.proxmox.com/git/proxmox-backup.git
Vcs-Browser: https://git.proxmox.com/?p=proxmox-backup.git;a=summary
Homepage: https://www.proxmox.com
Rules-Requires-Root: binary-targets

Package: proxmox-backup-server
Architecture: any
Depends: fonts-font-awesome,
         gdisk,
         libjs-extjs (>= 7~),
         libjs-qrcodejs (>= 1.20201119),
         libproxmox-acme-plugins,
         libsgutils2-1.48,
         libzstd1 (>= 1.3.8),
         lvm2,
         openssh-server,
         pbs-i18n,
         postfix | mail-transport-agent,
         proxmox-backup-docs,
         proxmox-mini-journalreader,
         proxmox-widget-toolkit (>= 4.3.3),
         pve-xtermjs (>= 4.7.0-1),
         sg3-utils,
         smartmontools,
         ${misc:Depends},
         ${shlibs:Depends},
Recommends: ifupdown2,
            proxmox-mail-forward,
            proxmox-network-interface-pinning,
            proxmox-offline-mirror-helper,
            zfsutils-linux,
Description: Proxmox Backup Server daemon with tools and GUI
 This package contains the Proxmox Backup Server daemons and related
 tools. This includes a web-based graphical user interface.

Package: proxmox-backup-client
Architecture: any
Depends: qrencode, ${misc:Depends}, ${shlibs:Depends},
Description: Proxmox Backup Client tools
 This package contains the Proxmox Backup client, which provides a
 simple command line tool to create and restore backups.

Package: proxmox-backup-client-static
Architecture: any
Depends: qrencode, ${misc:Depends},
Conflicts: proxmox-backup-client,
Description: Proxmox Backup Client tools (statically linked)
 This package contains the Proxmox Backup client, which provides a
 simple command line tool to create and restore backups.

Package: proxmox-backup-docs
Build-Profiles: <!nodoc>
Section: doc
Depends: fonts-font-awesome, libjs-extjs, libjs-mathjax, ${misc:Depends},
Architecture: all
Description: Proxmox Backup Documentation
 This package contains the Proxmox Backup Documentation files.

Package: proxmox-backup-file-restore
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends},
Recommends: proxmox-backup-restore-image, pve-qemu-kvm (>= 5.0.0-9),
Breaks: proxmox-backup-restore-image (<< 0.3.1),
Description: Proxmox Backup single file restore tools for pxar and block device backups
 This package contains the Proxmox Backup single file restore client for
 restoring individual files and folders from both host/container and VM/block
 device backups. It includes a block device restore driver using QEMU.
